[core]
	autocrlf = input
	safecrlf = false
[alias]
       ls = log --pretty=format:'%C(yellow)%h%Cred%d %C(cyan)%s%C(cyan) [%C(bold blue)%aN - %C(magenta)%ce%C(green) - %ad%C(reset)]%n' --decorate
       ci = commit
       st = status
       br = branch
       co = checkout
       lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
	default = tracking
